/* @font-face {
    font-family: 'Bebas Neue Cyrillic';
    src: local('Bebas Neue Cyrillic'), local('BebasNeueCyrillic'), url('../fonts/BebasNeueCyrillic.woff2') format('woff2'), url('../fonts/BebasNeueCyrillic.woff') format('woff');
    font-style: normal;
    font-display: swap;
} */

@font-face {
    font-family: 'Bebas Neue';
    src: local('Bebas Neue Regular Regular'), local('BebasNeueRegular'), url('../fonts/BebasNeueRegular.woff2') format('woff2'), url('../fonts/BebasNeueRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #635854;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 4px solid #3596F5;
}

.navbar {
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.navbar-item {
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
}

.navbar-link {
    text-decoration: none;
    color: white;
}

.navbar-contacts {
    text-align: right;
}

.navbar-text {
    display: block;
    color: white;
    font-size: 14px;
    line-height: 16px;
}

.navbar-phone {
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: white;
    text-decoration: none;
}

.main {
    max-width: 1280px;
    margin: auto;
    padding-top: 54px;
    display: flex;
}

.home-image path {
    opacity: 0;
    cursor: pointer;
}

.home-image path:hover {
    opacity: 1;
}

.main-info {
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.counter-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.counter-button {
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.counter-arrow-down {
    transform: rotateX(180deg);
}

.main-title {
    margin: 0;
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 37px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #635854;
}

.counter {
    font-family: "Bebas Neue", sans-serif;
    color: #635854;
    font-size: 120px;
    /* margin-top: 10px; */
}

.button-primary {
    background-color: #3596F5;
    border-radius: 6px;
    color: white;
    border: none;
    padding: 16px 32px;
    cursor: pointer;
}